<ion-content>
  <div class="onboard">
    <div class="onboard-top">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="primary" (click)="goBack()">
            <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-buttons slot="end">
            <ion-button color="dark" (click)="skipBtn()" fill="clear">
              Skip
            </ion-button>
          </ion-buttons>
        </ion-buttons>
      </ion-toolbar>
    </div>
    <div class="onboard-bottom">
      <ion-slides page="true">
        <ion-slide *ngFor="let slide of onboardSlides" >
          <div class="onBoardCard">
            <div class="onBoardImage">
              <img src="../../assets/images/{{slide.images}}.png" alt="NursePass">
            </div>
            <div class="onBoardDiscription ion-text-center">
              <h4 class="ion-text-capitalize ion-no-margin">{{slide.title}}</h4>
              <p class="ion-no-margin">
                {{slide.description}}
              </p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <h1></h1>
        </ion-slide>
        <ion-slide>
          <h1></h1>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
